<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="description..." />
    <meta name="keywords" content="keywords..." />
    <meta name="author" content="MichRad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website!</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" />

    <!-- My styles + script -->
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script src="static/script.js" defer></script>
  </head>
  <body>
    <h1>Hello there! This is a great website!</h1>
  </body>
</html>
