<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="description..." />
    <meta name="keywords" content="keywords..." />
    <meta name="author" content="MichRad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website!</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" />

    <!-- My styles + script -->
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script src="static/script.js" defer></script>
  </head>
  <body>
    <h2>Hello {{ name }}! You are {{ age }} years old.</h2>
    <p>This is example of Jinja template engine</p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempore sapiente quos adipisci, error, dolorem omnis
      suscipit fugit ducimus delectus ipsum facere nulla reiciendis veniam odit ea iste maxime consectetur incidunt! Facilis,
      sequi! Alias, sequi. Hic totam qui assumenda nemo nam nobis corporis, odit incidunt officia dolore natus quod, officiis
      non doloribus tempora beatae ratione. Eos quo aspernatur nemo iste consequuntur nesciunt accusamus doloremque neque
      doloribus pariatur! Temporibus neque quod culpa, natus atque unde eligendi modi ullam accusamus dolore quisquam
      mollitia voluptatem praesentium soluta quidem, fugiat, possimus reprehenderit! Ut cumque reiciendis dignissimos animi
      nesciunt asperiores omnis earum, voluptatibus ad illum!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quas, laudantium nemo fugit distinctio culpa optio
      cumque labore, voluptas harum in sequi expedita magni consequatur non porro. Quod temporibus magnam labore. Hic
      reprehenderit enim doloremque veritatis neque quae, architecto, vel dolorum nisi, nesciunt magni. Sapiente aut ad sequi
      ipsum aspernatur? Voluptas eum deserunt consectetur nulla earum quo magnam ad dicta cupiditate harum? Culpa esse, at
      debitis magni unde aliquid pariatur, itaque iste quibusdam officia asperiores. Suscipit corporis corrupti facere
      consequatur natus ipsa sit dolor facilis eos, soluta praesentium impedit consequuntur ducimus aspernatur sapiente
      delectus fugit illo nobis vitae? Unde, quae.
    </p>
  </body>
</html>
